
    <h3 class="h3">Liste des produits</h3>
    <table class="table ">
        <thead class="table-dark btn-info">
        <tr >
            <th scope="col">REFERENCE</th>
            <th scope="col">QUANTITE</th>
            <th scope="col">PRIX UNITAIRE</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor ="let produit of produits">
            <td>{{produit.ref}}</td>
            <td>{{produit.quantite}}</td>
            <td>{{produit.prixUnitaire}}</td>
        </tr>
        </tbody>
    </table>
